.flight .section-text {
  line-height: 1.85;
  margin-block: 30px 20px;
}

.flight-card {
  --color: var(--phthalo-green-2);

  background-color: var(--phthalo-green-3);
  border: 1px solid var(--color);
  padding-block-end: 40px;
  text-align: center;
  transition: var(--transition-2);
}

.flight-card:is(:hover, :focus) {
  --color: var(--satin-sheen-gold);
}

.flight-card :is(.card-title, .card-item) {
  display: flex;
  align-items: center;
}

.flight-card .card-title {
  background-color: var(--color);
  font-size: var(--fs-6);
  color: var(--white);
  justify-content: space-between;
  padding: 15px 30px;
  margin-block-end: 20px;
  transition: var(--transition-1);
}

.flight-card .w-100 {
  max-width: max-content;
  margin-inline: auto;
}

.flight-card .card-list {
  margin-block: 20px;
}

.flight-card .card-item {
  justify-content: center;
  gap: 5px;
  margin-block-end: 8px;
}

.flight-card .card-item .span {
  color: var(--white);
  font-weight: var(--fw-600);
}

.flight-card .btn{
  margin-inline: auto;
}