/*-------------------------*\
  #CUSTOME PROPERTY
\*-------------------------*/

:root {
	/**
   * Colors 
   */

	--british-racing-green: hsl(144, 45%, 19%);
	--phthalo-green-1: hsl(143, 54%, 9%);
	--phthalo-green-2: hsl(144, 51%, 15%);
	--phthalo-green-3: hsl(144, 54%, 11%);
	--phthalo-green_30: hsla(144, 51%, 15%, 0.3);
	--morning-blue: hsl(143, 11%, 58%);
	--satin-sheen-gold: hsl(49, 54%, 43%);
	--vegas-gold: hsl(48, 40%, 51%);
	--medium-champagne: hsl(49, 63%, 81%);
	--baby-powder: hsl(51, 33%, 96%);
	--light-gray: hsl(0, 0%, 80%);
	--white_10: hsl(0, 0%, 100%, 0.1);
	--white: hsl(0, 0%, 100%);
	--black_50: hsla(0, 0%, 0%, 0.5);

	/**
   * Gradient
   */
	--gradient-1: linear-gradient(
		180deg,
		hsla(137, 40%, 12%, 0) 47%,
		hsla(137, 40%, 12%, 0.89) 96%
	);

	/**
   * Typography
   */

	--ff-dm-sans: 'DM Sans', sans-serif;

	--fs-1: 4.3rem;
	--fs-2: 3.4rem;
	--fs-3: 3rem;
	--fs-4: 2.5rem;
	--fs-5: 2rem;
	--fs-6: 1.8rem;
	--fs-7: 1.5rem;
	--fs-8: 1.4rem;

	--fw-700: 700;
	--fw-600: 600;
	--fw-500: 500;

	/**
   * Spacing
   */

	--section-padding: 120px;

	/**
   * shadow
   */

	--shadow: 0px 10px 60px 0px hsla(0, 0%, 0%, 0.25);

	/**
   * radius
   */
	--radius-pill: 500px;
	--radius-circle: 50%;

	/**
   * Transition
   */

	--transition-1: 0.25s ease;
	--transition-2: 0.5s ease;
	--cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
	--cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

/*-------------------------*\
  #RESET
\*-------------------------*/
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a,
img,
span,
input,
button {
	display: block;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	height: auto;
}

input,
button {
	background: none;
	border: none;
	font: inherit;
}

input {
	width: 100%;
}

button {
	cursor: pointer;
}

address {
	font-style: normal;
}

html {
	font-family: var(--ff-dm-sans);
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	background-color: var(--phthalo-green-1);
	color: var(--morning-blue);
	font-size: 1.6rem;
	line-height: 1.5;
	overflow-x: hidden;
}

body.active {
	overflow: hidden;
}

:focus-visible {
	outline-offset: 4px;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: hsl(0, 0%, 98%);
}

::-webkit-scrollbar-thumb {
	background-color: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
	background-color: hsl(0, 0%, 70%);
}

/*-------------------------*\
  #REUSED STYLE
\*-------------------------*/

.container {
	padding-inline: 15px;
}

.section {
	padding-block: var(--section-padding);
}

.h1 {
	font-size: var(--fs-1);
	text-transform: uppercase;
	line-height: 1.2;
	letter-spacing: 5px;
}

.h2 {
	color: var(--white);
	font-size: var(--fs-2);
	line-height: 1.3;
	letter-spacing: -2px;
}

.btn {
	font-size: var(--fs-8);
	text-transform: uppercase;
	font-weight: var(--fw-700);
	letter-spacing: 1px;
	padding: 20px 55px;
	max-width: max-content;
	border-radius: var(--radius-pill);
	transition: var(--transition-1);
}

.btn-primary,
.btn-secondary:is(:hover, :focus) {
	background-color: var(--satin-sheen-gold);
	color: var(--white);
}

.btn-primary:is(:hover, :focus) {
	background-color: var(--white);
	color: var(--satin-sheen-gold);
}

.btn-secondary {
	background: var(--white);
	color: var(--phthalo-green-1);
}

.grid-list {
	display: grid;
	gap: 30px;
}

.section-subtitle {
	color: var(--satin-sheen-gold);
	text-transform: uppercase;
	font-weight: var(--fw-600);
	letter-spacing: 2px;
	margin-block-end: 5px;
}

.img-holder {
	aspect-ratio: var(--width) / var(--height);
	background-color: var(--light-gray);
	overflow: hidden;
}

.img-cover {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: var(--transition-2);
}

.has-before,
.has-after {
	position: relative;
	z-index: 1;
}

.has-after::after,
.has-before::before {
	content: '';
	z-index: -1;
}

.has-bg-image {
	background-repeat: no-repeat;
	background-position: 20%;
	background-size: cover;
}

.w-100 {
	width: 100%;
}

/*-------------------------*\
  #MEDIA QUERY
\*-------------------------*/

/**
  * Responsive design for larger than 575px screen
  */
@media (min-width: 575px) {
	/**
   * REUSED STYLE
   */

	.container {
		max-width: 540px;
		width: 100%;
		margin-inline: auto;
	}

	/**
   * HEADER
   */

	.header .container {
		max-width: unset;
	}
}

/**
  * Responsive design for larger than 768px screen
  */
@media (min-width: 768px) {
	/**
   * CUSTOME PROPERTY
   */

	:root {
		/**
   * Typography
   */

		--fs-1: 10rem;
		--fs-2: 5rem;
		--fs-4: 3rem;
	}
	/**
   * Reused style
   */
	.container {
		max-width: 720px;
	}

	.h1 {
		line-height: 0.9;
	}

	.grid-list {
		grid-template-columns: 1fr 1fr;
	}

	:is(.feature, .flight) .grid-list li:first-child {
		grid-column: 1/3;
	}

	/**
   * HEADER
   */

	.header-action-btn:not(.nav-open-btn) {
		display: block;
		color: var(--white);
	}

	.header-action {
		display: flex;
		gap: 15px;
	}

	/**
   * HERO
   */

	.hero {
		padding-block-start: 224px;
	}

	/**
   * About
   */

	.about .container {
		max-width: 600px;
	}

	/**
   * FEATURE
   */

	.feature-content {
		padding: 50px;
	}

	.feature .section-title {
		max-width: 11ch;
	}

	/**
   * NEWSLETTER
   */

	.newsletter-form {
		position: relative;
	}

	.newsletter .btn {
		position: absolute;
		top: 10px;
		right: 10px;
		bottom: 10px;
	}

	/**
   * FOOTER
   */

	.footer-bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.social-list {
		margin-block-start: 0;
	}
}

/**
  * Responsive design for larger than 992px  screen
  */
@media (min-width: 992px) {
	/**
   * CUSTOME PROPERTY
   */

	:root {
		/**
   * Typography
   */
		--fs-4: 2.5rem;
	}

	/**
   * Reused style
   */

	.container {
		max-width: 960px;
	}

	/**
   * FEATURES
   */
	.feature .grid-list li:first-child {
		grid-column: auto;
	}
	.feature .grid-list {
		grid-template-columns: repeat(3, 1fr);
	}

	.feature-content {
		padding: 20px;
	}

	.feature .section-title {
		max-width: unset;
	}

	.feature-card {
		aspect-ratio: unset;
		height: 100%;
	}

	/**
   * OFFER
   */

	.offer {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.offer-banner {
		height: unset;
	}

	/**
   * FLIGHT
   */

	.flight-content {
		max-width: 70%;
	}

	.flight-card .card-title {
		padding-inline: 60px;
	}

	/**
   * NEWSLETTER
   */

	.newsletter .container {
		grid-template-columns: 0.8fr 1fr;
		align-items: center;
	}
}

/**
  * Responsive design for larger than 1200px  screen
  */
@media (min-width: 1200px) {
	/**
   * CUSTOME PROPERTY
   */

	:root {
		/**
   * Typography
   */
		--fs-4: 3rem;
	}

	/**
   * REUSED STYLE 
   */

	.container {
		max-width: 1200px;
	}

	.h1 {
		letter-spacing: 10px;
	}

	.grid-list {
		grid-template-columns: repeat(4, 1fr);
	}

	/**
   * HEADER
   */

	.nav-open-btn,
	.navbar-top,
	.overlay {
		display: none;
	}

	.navbar,
	.navbar.active,
	.navbar-list,
	.navbar-item {
		all: unset;
	}

	.navbar-list {
		display: flex;
		align-items: center;
		gap: 80px;
	}

	.navbar-link {
		--fs-8: 1.5rem;
		text-transform: uppercase;
		font-weight: var(--fw-700);
		transition: var(--transition-1);
	}

	.navbar-link:is(:hover, :focus) {
		color: var(--satin-sheen-gold);
	}

	/**
   * ABOUT
   */

	.about .container {
		max-width: 1200px;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.about-banner {
		margin-inline: 50px;
	}

	/**
   * FEATURE
   */

	.feature-content {
		padding: 50px;
	}

	.feature .section-title {
		max-width: 11ch;
	}

	.feature-card {
		background-size: 105%;
	}

	.feature-card:is(:hover, :focus-within) {
		background-size: 110%;
	}

	/**
   * OFFER
   */

	.offer-content {
		padding-inline-end: 100px;
	}

	.feature-content .container {
		max-width: 500px;
		margin-inline: auto 0;
	}

	/**
   * FLIGHT
   */

	.flight .grid-list li:first-child {
		grid-column: auto;
	}

	.flight .grid-list {
		grid-template-columns: repeat(3, 1fr);
	}

	.flight-content {
		max-width: unset;
	}

	/**
   * FOOTER
   */

	.footer-top {
		grid-template-columns: 1fr 0.4fr 0.4fr 0.6fr;
	}

	.footer-text {
		margin-inline-end: 80px;
	}
}
